body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  main {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .exercise-form {
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2rem;
    padding-top: 0rem;
  }
  
  .exercise-form h2 {
    margin-bottom: 1rem;
  }
  
  .exercise-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .exercise-form input[type="text"],
  .exercise-form textarea,
  .exercise-form input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .exercise-form textarea {
    resize: vertical;
  }
  
  .exercise-form .submitButton {
    background-color: #333;
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .exercise-form .submitButton:hover {
    background-color: #555;
  }



  .container {
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    box-shadow: 00px 10px 15px rgba(0, 0, 0, 0.3);
  }

  .exercise-options {
    display: inline;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .exercise-option {
    cursor: pointer;
    margin: 2px;
    padding: 10px 20px;
    color: white;
    background-color: #4d4949;
    border: none;
    border-radius: 30px;
    /* transition: background-color 0.3s ease; */
  }

  .exercise-option:hover{
    background-color: #000000;
  }

  .exercise-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .exercise-button {
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    background-color: #4d4949;
    border: none;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
  }

  .exercise-button:hover {
    background-color: #000000;
  }


  